* {
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	font-family: Calibri, sans-serif;
	background: radial-gradient(circle at 0% 100%, rgb(9, 9, 8), rgb(34, 36, 39) 100%);
	color: rgb(220, 220, 220);
	height: 100%;
	width: 100%;
	font-size: 10px;
	min-width: 1000px;
	min-height: 750px;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	overflow-y: hidden;
}